*{
   
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0; padding: 0; box-sizing: border-box; 
}
html,body{
    height: 100%;
    width: 100%;
}


#main{
   
     position: relative; /* prevnet from overlapping */
    overflow: hidden; /* overflow content is hide*/
}

#page1{

    scale: 1.01;
    position: relative; /* we need to margin top from page not from body*/
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100vw;
    height: 90vh;
    background-color: #fff;
}


#page1 #right img{
    padding: 10px 10px 8px 0px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 95%;
    margin-right: 30px;
   
}
#page1 #right img:hover{
    scale: 1.05;
   
   
}


/* #page2{
    width: 100vw;
    height: 100vh;
    background-color: rgb(157, 112, 216);
} */
#navbar{
    padding: 0px 10px;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: #ffffff;
   
}
#navbar #logo img{
    width: 60px;
}

#navbar #navelements{
    font-weight: 100;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-right: 20px;
    text-transform: uppercase;
   
}
#navelements a{
    padding-right: 10px;
    font-weight: 100;
    font-size: 19px;
}
#navelements a:hover{
    background-color: #000;
    color: white;
    font-weight: 300;
    
    font-size: 19px;
}
#searchbar {
   
 padding: 20px 10px 0px 0px;    
}
#searchbar input{
    border-radius: 9px;
   height: 10px;
   text-align: center;
   padding-bottom:5px;
   padding-top: 15px;
}

#page1 #left{
    width: 80vw;
    background-color: #fff;
    
}
#heading{
    padding: 30px 25px;
    /* background-color: aqua; */
    width: 70%;
    height: 80%;
    position: relative;
    left: 12%;
    top: 10%;

}
#heading h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 10px 0px 0px 30px;
    font-size: 60px;
    
}

#heading p{
    /* background-color: red; */
    width: 70%;
    margin-top: 20px;
}
#heading #talkbtn{
    margin: 0px 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 32px;
    width: 100px;
    height: 40px;
    background-color: rgb(141, 29, 141);
    color: white;
    font-weight: 500;
}
/* hover  */
#heading #talkbtn:hover{
    background-color: white;
    color: black;
    scale: 1.1;
    
}
#heading #protfoliobtn{
   
    font-size: 15px;
    border-radius: 10px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background-color: white;
    color: black;
    border: none;
    font-weight: 500;
}
/* hover  */
#heading #protfoliobtn:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    scale: 1.1;
    background-color: rgb(141, 29, 141);
    color: white;
}
#heading #talkbtn img{
   height: 17px;
   padding: 0px 3px;
}
#heading h6{
    font-size: 16px;
    font-weight: 100;
    color: grey;
    transform: rotate(-30deg);
    position: absolute;
}
#page2{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: #FBD968;
}
#page2 #left{
    background-color: green;
     background-color: #FBD968; 
    width: 49%;
    
}
#circlelogo{
    position: relative;
    top: 150px;
    left: 120px;
    /* background-color: black; */
    width: 100px;
    height: 100px;
}
#circlelogo img{   
    width: 100px;
    height: 100px;
}


#page2 #left #heading2{
    position: relative;
    /* background-color: orange; */
    padding: 10% 10% 0px 20%;
}
#heading2 h1{
    padding-left: 10px;
    margin-top: 5px;
    font-size: 60px;

}
#heading2 p{
  padding-top: 40px;

}
#heading2 h6{
    color: grey;
    transform: rotate(-30deg);
    position: absolute;
    left: 120px;
}

#page2 #right{
    padding-top: 80px;
    width: 50%;
    height: 90%;
    /* background-color: aqua; */
}

#page2 #right #box1{
    border-top: 2px solid black ;
    width: 100%;
    height: 33%;
    /* background-color: green; */
    border-top: 2px solid black ;
}
#page2 #right  h1{
    padding: 0px 0px 0px 40px;
}
#page2 #right img{
position: relative;
left: 450px;
height: 40px;
padding-bottom: 5px;
transform: rotate(-45deg);
}
#page2 #right  p{
    padding: 10px 0px 0px 40px;
}
#page2 #right #box2{
    border-top: 2px solid black ;
    width: 100%;
    height: 33%;
    /* background-color: rgb(70, 0, 128); */
    background-color: #FBD968;
}
#page2 #right #box3{
    border-top: 2px solid black ;
    width: 100%;
    height: 33%;
    /* background-color: green; */
    background-color: #FBD968;
}

/* page-3 */
#page3{
    /* overflow: hidden; */
    background-color: #D0E3F1;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    
}
#page3 #left{
    /* background-color: #FBD968; */
    width: 33%;
    height: 100%;
}
/* #page3 #center{
    background-color: rgb(223, 12, 47);
    width: 33%;
    height: 100%;
} */
/* #page3 #right{
    background-color: rgb(145, 21, 218);
    width: 33%;
    height: 100%;
} */
#left #heading3{
   
    position: relative;
    margin: 0px 0px 0px 60px;
    font-size: 30px;
    width: 70%;
    border-bottom: 2px solid black;
    height: 30%;
}
#heading3 p{
    color: grey;
   position: absolute;
    font-size: 12px;
    left: 5%;
    top: 7%;
    padding-bottom: 20px;
    transform: rotate(-30deg);
}
#heading3 h1{
 padding: 10px 0px 0px 45px;

}
 #left #proj1{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 0px 60px;
    width: 70%;
   
}
 #arrowimg{
    /* justify-content: center; */
    align-items: center;
    /* background-color: orange; */
    width: 20%;
}
#arrowimg img{

    position: relative;
    
    top: 0%;
    height: 55%;
    transform: rotate(-45deg);
}
#topics{
    
    font-size: large;
    /* background-color: green; */
    width: 80%;
}
#left #projimg1{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 60px;
    background-color: red;
    width: 70%;
    margin: 30px 0px 0px 0px ;
    height: 50%;
}
#projimg1 img{
    width: 100%;
    height: 100%;
}

/* center  */


#page3 #center{
    /* background-color: #FBD968; */
    width: 33%;
    height: 100%;
}
#center #proj2{
    border-top: 2px solid black ;
    padding-top: 10px ;
    display: flex;
    justify-content: space-between;
    margin: 100px 0px 0px 60px;
    width: 70%;
   
}
 #arrowimg2{
    /* justify-content: center; */
    align-items: center;
    /* background-color: orange; */
    width: 20%;
}
#arrowimg2 img{

    position: relative;
    
    top: 0%;
    height: 55%;
    transform: rotate(-45deg);
}
#topics2{
    
    font-size: large;
    /* background-color: green; */
    width: 80%;
}
#center #projimg2{
    position: relative;
    left: 60px;
    background-color: red;
    width: 70%;
    margin: 30px 0px 0px 0px ;
    height: 50%;
}
#projimg2 img{
    width: 100%;
    height: 100%;
}


/* right  */
#page3 #right{
    /* background-color: rgb(145, 21, 218); */
    width: 33%;
    height: 100%;
}

#right #proj3{
    border-top: 2px solid black ;
   
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 0px 60px;
    width: 70%;
   
}
 #arrowimg3{
    /* justify-content: center; */
    align-items: center;
    /* background-color: orange; */
    width: 20%;
}
#arrowimg3 img{

    position: relative;
    top: 0%;
    height: 55%;
    transform: rotate(-45deg);
}
#topics3{
    
    font-size: large;
    /* background-color: green; */
    width: 80%;
}
#right #projimg3{
    position: relative;
    left: 60px;
    background-color: red;
    width: 70%;
    margin: 30px 0px 0px 0px ;
    height: 50%;
}
#projimg3 img{
    width: 100%;
    height: 100%;
}

#page4{
    
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
}

